*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
html, body {
  background: #fafafa;
  font-family: "Raleway", "Segoe UI", "Calibri", sans-serif;
  font-size: 16px;
  color: #777;
}
.container {
  margin: 0 auto;
  padding: 5% 0;
}
.page-title {
  width: 50%;
  margin: 0 auto;
  font-size: 3em;
  text-align: center;
}
.page-description {
  width: 50%;
  margin: 12px auto;
  font-weight: normal;
  color: #aaa;
  text-align: center;
}
.buttons-container {
  width: 50%;
  margin: 48px auto;
}
.box {
  padding: 12px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
}
.btn {
  display: inline-block;
  min-width: 100px;
  padding: 6px;
  text-align: center;
  color: #888;
  background: white;
  outline: 1px dashed transparent;
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: pointer;

  -webkit-transition: .3s ease, outline 0s;
     -moz-transition: .3s ease, outline 0s;
      -ms-transition: .3s ease, outline 0s;
          transition: .3s ease, outline 0s;
}
.btn:hover, .btn:focus {
  background: #eee;
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.3);
}
.btn:focus {
  outline: 1px dashed #5af;
}
.btn.btn-info {
  background: #34c6e8;
  border-color: #34c6e8;
  color: white;
}
.btn.btn-info:hover {
  background: #24b6d8;
  border-color: #24b6d8;
}
.btn.btn-success {
  background: #41d29a;
  border-color: #41d29a;
  color: white;
}
.btn.btn-success:hover {
  background: #31c29a;
  border-color: #31c29a;
}
.btn.btn-warning {
  background: #ffcb04;
  border-color: #ffcb04;
  color: white;
}
.btn.btn-warning:hover {
  background: #e6b403;
  border-color: #e6b403;
}
.btn.btn-danger {
  background: #e31b45;
  border-color: #e31b45;
  color: white;
}
.btn.btn-danger:hover {
  background: #d30b35;
  border-color: #d30b35;
}
.table {
  width: 100%;
  margin: 0 auto;
}
.table td {
  padding: 4px;
}
.table td.desc {
  background: #eee;
}
.browser {
  display: inline-block;
  background-image: url('../img/browser-sprite.png');
  background-repeat: no-repeat;
}
.browser.chrome {
  background-position: -3px -4px;
  width: 54px;
  height: 53px;
}
.browser.firefox {
  background-position: -64px -4px;
  width: 52px;
  height: 54px;
}
.browser.ie {
  background-position: -122px -4px;
  width: 54px;
  height: 50px;
}
.browser.opera {
  background-position: -186px -4px;
  width: 48px;
  height: 53px;
}
.browser.safari {
  background-position: -244px -4px;
  width: 52px;
  height: 53px;
}
.text-center {
  text-align: center;
}