*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", "Segoe UI", "Calibri", sans-serif;
  font-size: 15px;
  color: #777;
  background-color: #fff;
}
a,
a:visited {
  text-decoration: none;
  color: #1abc9c;
}
a:hover {
  font-weight: bold;
}
.header,
.footer {
  padding: 25px 20%;
  background-color: #5af;
  color: white;
  text-align: center;
}
.footer {
  background-color: #48C;
}
.footer a,
.footer a:visited {
  color: white;
  text-decoration: underline;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 2% 0;
}
@media screen and (max-width: 992px) {
  .container {
    width: 95%;
  }
}
.page-title {
  width: 100%;
  margin: 0 auto;
  font-size: 3em;
  text-align: center;
}
.page-description {
  width: 100%;
  margin: 12px auto;
  font-weight: normal;
  color: #fff;
  text-align: center;
}
.page-description-text {
  padding: 10px 4px;
  border-radius: 2px;
  background: rgba(0,0,0,.15);
}
pre {
  margin: 0 auto;
}
.code-example {
  padding: 0 !important;
  background: #fafafa !important;
  border: 1px solid #eaeaea !important;
  border-radius: 4px !important;
  text-align: left !important;
  font-size: 14px !important;
}
.box {
  margin: 0 auto;
  padding: 12px;
}
.btn {
  display: inline-block;
  min-width: 100px;
  padding: 6px;
  text-align: center;
  color: #888;
  background: white;
  outline: 1px dashed transparent;
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: pointer;

  -webkit-transition: .3s ease, outline 0s;
     -moz-transition: .3s ease, outline 0s;
      -ms-transition: .3s ease, outline 0s;
          transition: .3s ease, outline 0s;
}
.btn:hover, .btn:focus {
  background: #eee;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.2);
}
.btn:focus {
  outline: 1px dashed #5af;
}
.btn.btn-info {
  background: #3498db;
  border-color: #3498db;
  color: white;
}
.btn.btn-info:hover {
  background: #44a8eb;
  border-color: #44a8eb;
}
.btn.btn-success {
  background: #1abc9c;
  border-color: #1abc9c;
  color: white;
}
.btn.btn-success:hover {
  background: #2accac;
  border-color: #2accac;
}
.btn.btn-warning {
  background: #f1c40f;
  border-color: #f1c40f;
  color: white;
}
.btn.btn-warning:hover {
  background: #f2ca2a;
  border-color: #f2ca2a;
}
.btn.btn-danger {
  background: #e74c3c;
  border-color: #e74c3c;
  color: white;
}
.btn.btn-danger:hover {
  background: #f75c4c;
  border-color: #f75c4c;
}
.browser-list {
  list-style: none;
  padding: 0;
}
.browser-list-item {
  display: inline-block;
  padding: 8px 12px;
  margin-right: 6px;
  border-radius: 4px;
  text-align: center;

  transition: .3s ease;
}
.browser-list-item:hover {
  background: #eee;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}
.browser {
  display: block;
  margin-bottom: 6px;
  background-image: url('../img/browser-sprite.png');
  background-repeat: no-repeat;
}
.browser.chrome {
  background-position: -3px -4px;
  width: 54px;
  height: 54px;
}
.browser.firefox {
  background-position: -64px -4px;
  width: 52px;
  height: 54px;
}
.browser.ie {
  background-position: -122px -4px;
  width: 54px;
  height: 54px;
}
.browser.opera {
  background-position: -186px -4px;
  width: 48px;
  height: 54px;
}
.browser.safari {
  background-position: -244px -4px;
  width: 52px;
  height: 54px;
}
.social {
  text-align: center;
}
.social-item {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  color: white;
  background-color: transparent;
  border-radius: 50%;
  transition: .3s;
}
.social-item:hover {
  background-color: rgba(255,255,255,0.2);
}
hr {
  display: block;
  margin: 0;
  margin-bottom: 24px;
  width: 25px;
  height: 5px;
  background: #ddd;
  border: none;
}
.text-center {
  text-align: center;
}
::-webkit-scrollbar { width: 8px; height: 8px; }

::-webkit-scrollbar:hover { width: 10px; }

::-webkit-scrollbar-track {
  background: #fff;
  border: 1px solid #ddd;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #ddd;
}

::-webkit-scrollbar-thumb:hover { background: #ccc; }

::-webkit-scrollbar-thumb:active { background: #bbb; }