*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", "Segoe UI", "Calibri", sans-serif;
  font-size: 15px;
  color: #777;
  background-color: #fff;
}
a,
a:visited {
  text-decoration: none;
  color: #1abc9c;
}
.header,
.footer {
  padding: 25px 20%;
  background-color: #5af;
  background: -webkit-linear-gradient(right, #27c, #5af);
  background:         linear-gradient(to right, #27c, #5af);
  color: white;
  text-align: center;
}
.header {
  padding-top: 5%;
  padding-bottom: 5%;
}
.footer a,
.footer a:visited {
  color: white;
  text-decoration: underline;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 2% 0;
}
@media screen and (max-width: 768px) {
  .header,
  .footer {
    padding: 10% 5%;
  }
  .container {
    width: 95%;
  }
  .title {
    text-align: center;
  }
  .btn-group {
    display: block;
    width: 100%;
    text-align: center;
  }
}
.method {
  display: block;
  width: 100%;
  padding: 8px 4px;
  border-radius: 2px;
  font-weight: normal;
  background-color: #5af;
  color: white;
}
.page-title {
  width: 100%;
  margin: 0 auto;
  font-size: 3em;
  text-align: center;
}
.page-description {
  width: 100%;
  margin: 12px auto;
  font-weight: normal;
  color: #fff;
  text-align: center;
}
.page-description-text {
  padding: 10px;
  background: rgba(0,0,0,.2);
  border-radius: 4px;
  line-height: 20px;
}
pre {
  margin: 0 auto;
}
.code {
  display: inline-block;
  padding: 2px;
  background-color: #eee;
  border: 1px solid #ddd;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
  border-radius: 2px;
}
.code-example {
  padding: 0 !important;
  background: #fafafa !important;
  border: 1px solid #eaeaea !important;
  border-radius: 4px !important;
  text-align: left !important;
  font-size: 14px !important;
}
.box {
  margin: 0 auto;
  padding: 12px;
}
.btn {
  display: inline-block;
  width: auto;
  padding: 6px 12px;
  margin-bottom: 6px;
  text-align: center;
  color: #888;
  background: white;
  outline: 1px dashed transparent;
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;

  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);

  -webkit-transition: .3s ease, outline 0s;
     -moz-transition: .3s ease, outline 0s;
      -ms-transition: .3s ease, outline 0s;
          transition: .3s ease, outline 0s;
}
@media screen and (max-width: 400px) {
  .btn {
    display: block;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
.btn:hover,
.btn:focus {
  background: #eee;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),
              0 3px 8px 0 rgba(0,0,0,.2);
}
.btn.btn-info {
  background: #3498db;
  border-color: #3498db;
  color: white;
}
.btn.btn-info:hover {
  background: #44a8eb;
  border-color: #44a8eb;
}
.btn.btn-success {
  background: #1abc9c;
  border-color: #1abc9c;
  color: white;
}
.btn.btn-success:hover {
  background: #2accac;
  border-color: #2accac;
}
.btn.btn-warning {
  background: #f1c40f;
  border-color: #f1c40f;
  color: white;
}
.btn.btn-warning:hover {
  background: #f2ca2a;
  border-color: #f2ca2a;
}
.btn.btn-danger {
  background: #e74c3c;
  border-color: #e74c3c;
  color: white;
}
.btn.btn-danger:hover {
  background: #f75c4c;
  border-color: #f75c4c;
}
.btn.btn-outline {
  padding: 12px 16px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #fff;
  color: white;
  border-radius: 4px;
  box-shadow: none;
}
.btn.btn-outline:hover,
.btn.btn-outline:focus {
  box-shadow: none;
  background: rgba(255,255,255,0.2);
}
.label {
  font-weight: bold;
}
.form-control {
  display: inline-block;
  width: auto;
  height: 36px;
  color: #777;
  background-color: #fff;
  border: 2px solid #e0e3e4;
  border-radius: 6px;
  outline: none;
  transition: .3s;
}
.form-control:hover,
.form-control:focus {
  border-color: #e0e3e4;
  background-color: #fcfeff;
}
.table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid #ddd;
}
.table th,
.table .title {
  padding: 6px 4px;
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}
.table td {
  padding: 4px;
  border: 1px solid #e5e5e5;
}
.browser-list {
  list-style: none;
  padding: 0;
  display: block;
}
@media screen and (max-width: 768px) {
  .browser-list {
    margin: 0 auto;
    text-align: center;
  }
}
.browser-list-item {
  display: inline-block;
  padding: 8px 12px;
  margin-right: 6px;
  border-radius: 4px;
  text-align: center;

  transition: .3s ease;
}
.browser-list-item:hover {
  background: #eee;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
}
.browser {
  display: block;
  margin-bottom: 6px;
  background-image: url('../img/browser-sprite.png');
  background-repeat: no-repeat;
}
.browser.chrome {
  background-position: -3px -4px;
  width: 54px;
  height: 54px;
}
.browser.firefox {
  background-position: -64px -4px;
  width: 52px;
  height: 54px;
}
.browser.ie {
  background-position: -122px -4px;
  width: 54px;
  height: 54px;
}
.browser.opera {
  background-position: -186px -4px;
  width: 48px;
  height: 54px;
}
.browser.safari {
  background-position: -244px -4px;
  width: 52px;
  height: 54px;
}
.social {
  text-align: center;
}
.social-item {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  color: white;
  background-color: transparent;
  border-radius: 50%;
  transition: .3s;
}
.social-item:hover {
  background-color: rgba(255,255,255,0.2);
}
hr {
  display: block;
  margin: 0;
  margin-bottom: 24px;
  width: 25px;
  height: 5px;
  background: #ddd;
  border: none;
}
.nowrap {
  white-space: nowrap;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.bold {
  font-weight: bold;
}
::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar:hover { width: 8px; }
::-webkit-scrollbar-track {
  background: #fff;
  border: 1px solid #ddd;
}
::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #ddd;
}
::-webkit-scrollbar-thumb:hover { background: #ccc; }
::-webkit-scrollbar-thumb:active { background: #bbb; }